.voucher {
  width: 500px;
  height: 400px;
  background: linear-gradient(90deg, #ffffff, #b8ffd6);
  box-shadow: 4px 4px 15px 2px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__amount {
    font-size: 55px;
    color: #00efef;
  }

  &__receiver {
    font-size: 65px;
    color: #676767;
    margin-top: -10px;
  }

  &__date {
    font-size: 30px;
  }
}
