.container {
  height: 100%;
  position: static;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f2;
}

.main {
  background: linear-gradient(#57CDF3, white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 600px;
    height: 225px;
    margin-bottom: 5%;
  }
}
