.container {
  position: static;
  display: flex;
  flex-direction: column;
  background-color: #F7FAFB;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

.qr {
  background: linear-gradient(90deg, #ffffff, #ccf2ff);
  box-shadow: 4px 4px 15px 2px rgba(0,0,0,0.2);
  border-radius: 5px;  
}

  &__little-logo {
    width: 200px;
    height: 75px;
    position: absolute;
    left: 20px;
    top: 10px;
  }
}
