:root {
	--header-font-color: #aaa;
	--center-block-width: 70%;
	--center-block-min-width: 800px;
	--header-height: 70px;
	--rss-form-height: 65px;
	---color: #ecf0f2;
	--substrate-color: #ecf0f2;
	--nav-font-color: #c6cbd1;
	--img-dim-preview: 140px;
}

@custom-media --before-desktop-viewport (max-width: 959px);
